### TASK 1

### 2.

In [7]:
result = []
for num in range(2000, 3201):
    
    if num%7==0 and num%5!=0:
        result.append(str(num))
        
        
print(','.join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

### 3.

In [12]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

first_name = first_name[::-1]
last_name = last_name[::-1]

print(first_name+' '+last_name)

Enter your first name: suman
Enter your last name: mondal
namus ladnom

### 4.

In [24]:
pi = (22/7)

def vol_sphere(dm):
    
    V = (4/3) * pi * (dm/2)**3
    
    return V
                      

given_sphere_vol = vol_sphere(12)

given_sphere_vol

905.142857142857

### TASK 2

### 1.

In [25]:
numbers = input('Enter comma seperated numbers: ')

list = numbers.split(',')

list

Enter comma seperated numbers: 1, 2, 5, 7, 9, 0, 3, 4, 6, 8

['1', ' 2', ' 5', ' 7', ' 9', ' 0', ' 3', ' 4', ' 6', ' 8']

### 2.

In [33]:
def star_arrow(n):
    
    for i in range(n):
        for j in range(i):
            print('*', end= ' ')
        print(' ')
        
        
    for i in range(n,0,-1):
        for j in range(i):
            print('*', end= ' ')
        print(' ')
        
        
star_arrow(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### 3.

In [26]:
word = input('Enter a word : ')

reversed_word = word[::-1]

reversed_word

Enter a word : LionelMessi

'isseMlenoiL'